<li class="reply">
	<p class="message"><%= reply.answer.message %></p>
	<p class="author">created by:<%= reply.answer.user.name%> ( <%=reply.answer.user.username%> )  </p>
	<p class="date">at:<%= reply.answer.created_at.strftime("%d/%m/%Y %H:%M")%></p>
</li>